apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "name" . }}
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "selectorLabels" . | nindent 8 }}
      {{- with .Values.webhook.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: gcr.io/cloudkite-public/custom-mutating-webhook:multi-patch
        imagePullPolicy: Always
        ports:
        - containerPort: 443
        envFrom:
          - configMapRef:
              name: {{ include "name" . }}
        volumeMounts:
        - name: certs-volume
          readOnly: true
          mountPath: "/certs"
        {{- if .Values.resources }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        {{- end }}
      {{- with .Values.tolerations }}
      tolerations: {{ toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: certs-volume
        secret:
          secretName: {{ default (include "name" .) .Values.certsExistingSecretName }}
