apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "name" . }}
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "selectorLabels" . | nindent 8 }}
      {{- with .Values.webhook.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: {{ .Values.webhook.containerImage }}
          {{- if .Values.webhook.containerCommand }}
          command:
            {{- toYaml .Values.webhook.containerCommand | nindent 12 }}
          {{- end }}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ default 443 .Values.webhook.containerPort }}
          envFrom:
            - configMapRef:
                name: {{ include "name" . }}
          volumeMounts:
            - name: certs-volume
              readOnly: true
              mountPath: "/certs"
          {{- if .Values.resources }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
      {{- with .Values.tolerations }}
      tolerations: {{ toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: certs-volume
          secret:
            secretName: {{ default (include "name" .) .Values.certsExistingSecretName }}
