apiVersion: v1
kind: Service
metadata:
  name: {{ include "name" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "labels" . | nindent 4 }}
spec:
  selector:
    {{- include "selectorLabels" . | nindent 4 }}
  ports:
    - port: {{ default 443 .Values.webhook.containerPort }}
      targetPort: {{ default 443 .Values.webhook.containerPort }}
